
server {
    listen 80;
    server_name {{ revproxy_cockpit }};

    location / {

        proxy_pass http://{{ ansible_default_ipv4.address }}:9090;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;

        # Required for web sockets to function
        proxy_http_version 1.1;
        proxy_buffering off;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        gzip off;
    }
}


