
server {
    listen 80;
    server_name {{ revproxy_kibana }};

    set $proxy_pass_url http://{{ ansible_default_ipv4.address }}:5601;

    location / {
        proxy_set_header    Host $proxy_pass_url;
        proxy_set_header    X-Real-IP $remote_addr;
        proxy_http_version 1.1;
        proxy_set_header    Connection "Keep-Alive";
        proxy_set_header    Proxy-Connection "Keep-Alive";
        proxy_set_header    Authorization "";
        proxy_pass          $proxy_pass_url/;
        proxy_redirect      $proxy_pass_url/ /;
    }

    location ~ (/app|/translations|/node_modules|/built_assets/|/bundles|/es_admin|/plugins|/api|/ui|/elasticsearch|/spaces/enter) {
        proxy_pass          $proxy_pass_url;
        proxy_set_header    Host $host;
        proxy_set_header    X-Real-IP $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto $scheme;
        proxy_set_header    X-Forwarded-Host $http_host;
        proxy_set_header    Authorization "";
        proxy_hide_header   Authorization;
    }
}

