
server {
    listen 80;
    server_name prometheus.home.lab;

    location / {

        proxy_pass http://{{ ansible_default_ipv4.address }}:9090;
        proxy_set_header Host $host;
        proxy_redirect off;
    }
}

